.section {
  background: rgba(25, 25, 25, 1);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

}

@media (min-width: 381px) {
  .container {
    /* max-width: 380px; */
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 24px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}