.seriesList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
}

.seriesItem {
  width: 150px;
  margin-bottom: 10px;
}

.seriesPoster {
  border-radius: 10px;
}

.seriesTitle {
  padding: 20px;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}