.header {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  color: rgb(240, 223, 197);
  font-size: 32px;
  font-family: sans-serif;
}

.logo span {
  font-weight: 900;
  color: #00bfff;
}

.menuBtn {
  width: 32px;
  height: 32px;
  color: white;
  display: block;
}

.menuBtnIcon {
  width: 30px;
  height: 30px;
}

.menuBtnIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.navWrapper {
  display: none;
}

.signInEWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.iconSignIn {
  width: 20px;
  height: 20px;
}

@media (min-width: 767px) {
  .header {
    padding: 16px 32px;
  }

  .navWrapper {
    display: block;
    width: auto;
  }

  .navList {
    display: flex;
    align-items: center;
    gap: 24px;
    list-style: none;
  }

  .navList a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
  }

  .navList a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {



  .navList a {
    font-size: 14px;
  }

}

@media (min-width: 1024px) and (max-width: 1439px) {

  .navList a {
    font-size: 16px;
  }

  .navWrapper {
    margin-left: 30px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 24px 48px;
  }

  .logo {
    font-size: 36px;
  }

  .navWrapper {
    margin-left: 100px;
  }

  .navList {
    gap: 32px;
  }

  .navList a {
    font-size: 18px;
  }
}

.active {
  border-bottom: 2px solid #00bfff;
}