.titleWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
}

.title {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.linkViewAll {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-style: solid;
}

.sliderWrapper {
  overflow-x: auto;
  padding: 0 16px;
  padding-bottom: 16px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sliderWrapper::-webkit-scrollbar {
  display: none;
}

.sliderWrapper.animating {
  scroll-snap-type: none !important;
}

.slider {
  display: flex;
  gap: 16px;
  width: max-content;
}

.card {
  flex: 0 0 65vw;
  max-width: 150px;
  scroll-snap-align: start;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cardImg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}