.modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 16px;
  padding-top: 80px;
}

.modalMenuList {
  margin-top: 25px;
  margin-left: 15px;
}

.modalMenuItem {
  margin-top: 35px;
}

.login {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 35px;
}

.loginIcon {
  color: white;
  margin-right: 10px;
}