.modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 16px;
}

.modalMenuHeaderWrapp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: rgb(240, 223, 197);
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-family: Ubuntu;
}

.logo span {
  color: #00bfff;
}

.closeBtn {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeBtnIcon {
  color: white;
  width: 40px;
  height: 40px;
}


.modalMenuList {
  margin-top: 25px;
  margin-left: 15px;
}

.modalMenuItem {
  margin-top: 35px;
}

.login {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 35px;
}

.loginIcon {
  color: white;
  margin-right: 10px;
}